<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Editor 0.1</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		
		<header><h1>Editor 0.1</h1></header>
		<section id="page-wrapper">
			<section id="page" class="group">
				<div id="cards-list" class="group">
					<section id="search"><input type="search" id="search-terms" placeholder="Search"></section>
					<div id="cards-holder" class="group"></div>
				</div>
				<div id="card-edit"></div>
			</section>
		</section>
		
		<script id="cardTemplate" type="text/template">	
			<form action="index_submit" method="get" accept-charset="utf-8">
				<nav>
					<input type="button" value="i" id="italics">
					<input type="button" value="b" id="bold">
					<select size="1" value="3" id="font-size">
						<% _.each(_.range(1, 8), function(num) { %>
							<% if(num == "3") { %>
									<option value=<%= num %> selected><%= num %></option>
								<% } else { %>
									<option value=<%= num %> ><%= num %></option>
								<% } %>
						<% }); %>
					</select>		
					<select size="1" value="sans-serif" id="font-style">
					<% _.each([["serif", "'Adobe Garamond Pro', Georgia, serif"], ["sans", "'Helvetica Neue', Arial, sans-serif"], ["mono", "monospace"]], function(font) { %>
						<% if(font[0] == "serif") { %>
								<option value=<%= font[1] %> selected><%= font[0] %></option>
							<% } else { %>
								<option value=<%= font[1] %> ><%= font[0] %></option>
							<% } %>
					<% }); %>
					</select>
				</nav>
				<input type="text"  value="<%= title %>" name="card[title]" id="title">
				<input type="text"  value="<%= summary %>" name="card[summary]" id="summary">
				<textarea  name="card[teddxt]" id="text"><%= text %></textarea>	
				<iframe name="cardRichText" id="cardRichText" style="width: 685px; height: 300px; border: none; background-color: white; margin: 16px 12px" ></iframe>
				<p><input type="submit" value="Save" id="save"></p>
			</form>	
		</script>
		

		<script id="cardSummaryTemplate" type="text/template">
			<h3><%= title %></h3>
			<h4><%= summary %></h4>
		</script>
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
		<script src="js/application.js"></script>
	</body>
</html>