/* green - #23D97E*/

@font-face {
	font-family: "OstrichSans";
	src: url("/fonts/OstrichSans-Bold.otf");
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, ul, li, section, header, div, span, header, footer, body, textarea, input[type=text] {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html {
	height: 100%;
}

body {
	background: -webkit-linear-gradient(#23D97E, white); 
	background: -o-linear-gradient(#23D97E, white); 
	background: -moz-linear-gradient(#23D97E, white); 
	background: linear-gradient(#4ED797, white); 
	height: 100%;
	background-repeat: no-repeat;
}

header {
	text-align: center;
}

h1 {
	color: white;
	font-size: 64px;
/*	font-variant: small-caps;*/
	font-weight: bold;
	display: block;
	padding: 20px 10px;
	font-family: "OstrichSans";
}

h3, h4, #summary, #title, #text, p, #card-edit nav {
	display: block;
	padding: 12px 10px;
	border-bottom: 1px solid #23D97E;
}

#title {
	font-weight: bold;
	font-size: 24px;
}

input[type=text], textarea, input[type=search] {
	padding: 5px 10px;
	width: 670px;
	height: 100%;
	max-width: 690px;
	background: none;
	border: none;
}

#search-terms {
	width: 240px;
}

#text {
	display: none;
}

h3 {
	font-size: 18px;
}

h4, #summary {
	font-size: 14px;
	font-variant: small-caps;
	color: gray;
}

header {
	border-bottom: 1px solid white;
}

#page-wrapper {
	width: 100%;
}

#page {
	width: 960px;
	height: 100%;
	margin: auto;
}

#cards-list {
	width: 240px;
	float: left;
}

.card-summary, #card-edit, #search-terms  {
	background-color: white;
	margin: 10px 0;
}

.card-summary h3 {
	cursor: pointer;
}

.card-summary {
	width: 240px;
}

#card-edit {
	float: right;
	width: 710px;
	height: 100%;
}

#card-edit input, #card-edit nav {
	padding-left: 20px;
	padding-right: 20px;
/*	padding: 12px;*/
}

.card {
	height: 100%;
}

li {
	list-style: none;
}

@media screen and (max-width: 800px) {
	#page {
		width: 100%;
	}
	#cards-list {
		float: none;
		width: 100%;
		overflow: auto;
	}
	
	#cards-holder {
		height: 140px;
		width: 3000px;
	}
	
	.card-summary {
		float: left;
		margin: 10px 10px;
	}
	
	#card-edit {
		float: none;
		margin: auto;
	}
	
	#search-terms {
		width: 60%;
	}
	
	#search {
		text-align: center;
	}
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
